

  <h2>Danh sách ngành hàng kinh doanh</h2>
    <h2>Tổng số ngành hàng <%=response.count%></h2>
    <a href="nganhhang-create">Thêm</a>
  <table class="table table-bordered table-admin">
    <thead>
      <tr>
        <th>Tên Chủ Đề</th>
        <th>Ngành hàng</th>
        <th>Index</th>
        <th>Sửa</th>
        <th>Xóa</th>

      </tr>
    </thead>
    <tbody>

      <% for(var i=0;i<response.count;i++){ %>
        <tr>
        <td> <%=response.ghemassages[i].name %> </td>
        <td> <%=response.ghemassages[i].index %> </td>
        <td><a href="/nganhhang/edit/<%=response.ghemassages[i]._id %>">Sửa</a></td>
        <td><a class="delete-nganhhang" data-id="<%=response.ghemassages[i]._id %>">Xóa</a></td>

        </tr>
      <% } %>


    </tbody>
  </table>
</div>


<ul>

</ul>
