<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

        <li> <%=ghemassage.name%> </li>
        <li> <%=ghemassage.nganhhang%> </li>
        <li> <%=ghemassage.trademark%> </li>
        <li> <%=ghemassage.price%> </li>
        <li> <%=ghemassage.pricesale%> </li>
        <li><img src="/<%=ghemassage.image%>" >  </li>
        <li> <%=ghemassage.baohanh%> </li>
        <li><%=ghemassage.title%></li>
        <li><%=ghemassage.description%></li>
        <li><%=ghemassage.flashsale%></li>
        <li><%=ghemassage.bestsell%></li>
        <li><%=ghemassage.ogtitle%></li>
        <li><%=ghemassage.ogdescription%></li>
        <li><%=ghemassage.keywords%></li>
        <li><%=ghemassage.index%></li>
    </ul>
    <a href="/ghemassage/edit/<%=ghemassage._id%>"><button id="sua">Edit</button></a>

  </body>
</html>
