<nav class="menu-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-menu-item">
            <li class="item">
              <a href="/" class="active" ><i class="fa fa-home"></i> Trang chủ</a>
            </li>
            <li class="item">
              <a href="/ghe-massage-ban-chay-nhat" class="active" ><img src="/massage-chair-icon-desk.png" alt="ghế massage bán chạy nhất" />Ghế massage</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                            <%for(var l=0;l<trademarks.count;l++){%>
                              <li><a href="/ghe-massage-<%=trademarks.trademark[l].name%>" target="_blank">Ghế massage <%=trademarks.trademark[l].name%></a></li>
                            <%}%>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Ghế Massage phổ thông</a></li>
                              <li><a href="" title="Ghế Massage Okia">Ghế Massage hạng trung</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Ghế Massage hạng sang</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Ghế massage bán chạy nhất<p>
                          <%for(var k=0;k<ghebestsellmenuhome.count;k++){ %>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>">
                                        <img src="/<%=ghebestsellmenuhome.ghemassages[k].imagedefault[0].originalname%>" alt="<%=ghebestsellmenuhome.ghemassages[k].name%> bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>"><%=ghebestsellmenuhome.ghemassages[k].name%></a></div>
                                        <div class="price-product-sell-best commas"><%=ghebestsellmenuhome.ghemassages[k].pricesale %> ₫ </div>
                                        <div class="buy-now">
                                          <a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                          <%}%>
                      </div>
                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/thanh-ly-ghe-massage-cu" class="active" >Thanh lý ghế massage cũ</a>

            </li>

            <li class="item relative">
              <a href="/dich-vu-sua-chua" class="active" ><i class="fa fa-cog"></i> Dịch vụ sửa chữa</a>
              <div class="item-detail service">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-right">
                        <ul>
                          <%for(var i=0;i<lastpostshome.count;i++){%>
                            <li>
                              <a href="/<%=lastpostshome.posts[i].titleseo%>" title=""><i class="fa fa-angle-right"></i> <%=lastpostshome.posts[i].title%></a>
                            </li>
                          <%}%>
                       </ul>
                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/tin-tuc" class="active" ><i class="fa fa-newspaper-o"></i> Tin tức</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1 class="title-order">Thông tin đơn hàng</h1>
        <h4 >Tổng tiền đơn hàng: <span class="total-order-checkout commas"><%=total%> &#8363;</span></h4>
        <div id="charge-error" class="alert alert-danger <%if(noError){%> hidden <% } %>">
            <%=errMsg%>
        </div>
        <form action="/cart/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Họ tên</label>
                        <input type="text" id="name" class="form-control" required name="name" placeholder="nhập tên của bạn">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" id="phone" class="form-control" required name="phone" placeholder="nhập số điện thoại của bạn">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="phone">Địa chỉ Email</label>
                        <input type="text" id="email" class="form-control"  name="email" placeholder="nhập email để nhận thông tin đơn hàng">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Địa chỉ giao hàng</label>
                        <input type="text" id="address" class="form-control" required name="address" placeholder="nhập địa chỉ nhận hàng của bạn">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="note">Ghi chú thêm</label>
                        <textarea id="note" class="form-control"  name="note" value="Ghi chú thêm"></textarea>
                    </div>
                </div>
                <hr>

            </div>
            <button type="submit" class="btn btn-success">Thanh toán</button>
        </form>
    </div>
</div>
