<nav class="menu-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-menu-item">
            <li class="item">
              <a href="/" class="active" ><i class="fa fa-home"></i> Trang chủ</a>
            </li>
            <li class="item">
              <a href="/ghe-massage-ban-chay-nhat" class="active" ><img src="/massage-chair-icon-desk.png" alt="ghế massage bán chạy nhất" />Ghế massage</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                            <%for(var l=0;l<trademarks.count;l++){%>
                              <li><a href="/ghe-massage-<%=trademarks.trademark[l].name%>" target="_blank">Ghế massage <%=trademarks.trademark[l].name%></a></li>
                            <%}%>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Ghế Massage phổ thông</a></li>
                              <li><a href="" title="Ghế Massage Okia">Ghế Massage hạng trung</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Ghế Massage hạng sang</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Ghế massage bán chạy nhất<p>
                          <%for(var k=0;k<ghebestsellmenuhome.count;k++){ %>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>">
                                        <img src="/<%=ghebestsellmenuhome.ghemassages[k].imagedefault[0].originalname%>" alt="<%=ghebestsellmenuhome.ghemassages[k].name%> bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>"><%=ghebestsellmenuhome.ghemassages[k].name%></a></div>
                                        <div class="price-product-sell-best commas"><%=ghebestsellmenuhome.ghemassages[k].pricesale %> ₫ </div>
                                        <div class="buy-now">
                                          <a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                          <%}%>
                      </div>
                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/thanh-ly-ghe-massage-cu" class="active" >Thanh lý ghế massage cũ</a>

            </li>

            <li class="item relative">
              <a href="/dich-vu-sua-chua" class="active" ><i class="fa fa-cog"></i> Dịch vụ sửa chữa</a>
              <div class="item-detail service">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-right">
                        <ul>
                          <%for(var i=0;i<lastpostshome.count;i++){%>
                            <li>
                              <a href="/<%=lastpostshome.posts[i].titleseo%>" title=""><i class="fa fa-angle-right"></i> <%=lastpostshome.posts[i].title%></a>
                            </li>
                          <%}%>
                       </ul>
                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/tin-tuc" class="active" ><i class="fa fa-newspaper-o"></i> Tin tức</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item service"><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item service"><a href="/tin-tuc"><i class="fa fa-newspaper-o"></i> Tin tức</a></li>
                        <li class="breadcrumb-item service-current" active aria-current="page"><%=newsdetail.new[0].title%></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
              <div class="wrap-newsdetail">
                <h1 class="title-newsdetail"><%=newsdetail.new[0].title%></h1>
                <div class="info-news-detail">
                  <span class="category-news"><%=newsdetail.new[0].category%></span>
                  <span class="post-date"><i class="fa fa-clock-o"></i> <%=newsdetail.new[0].day%></span>
                  <span class="count-view"><i class="fa fa-eye"></i> Số lượt xem: <%=newsdetail.new[0].view%></span>
                </div>
                <div class="content-newsdetail">
                    <%-newsdetail.new[0].description%>
                </div>
              </div>
            </div>
            <div class="col-xs-3 relative">
              <div class="aside-right-newsdetail">
                <div class="suggest  marTop10">
                    <figure class="template news letter">
                              <figcaption>Nhận bản tin</figcaption>
                              <b></b>
                    </figure>
                </div>
                <div class="form-news-letter">
                  <form action='/nhanbantin/ban-tin-news' method="post">
                    <div class="mc-field-group">
                      <input type="text" value="" name="email" placeholder="nhận bản tin qua email" >
                    </div>
                    <div class="clear">
                      <input type="submit" value="Subscribe" name="subscribe" class="btn-news-letter" >
                    </div>
                  </form>
                </div>
                <aside>
                  <div class="suggest">
                      <figure class="template news">
                                <figcaption>Tin liên quan</figcaption>
                                <b></b>
                      </figure>
                      <div class="view-content">
                          <ul class="list-padding" style="">
                            <%for(var i=0;i<tinlienquan.count;i++){%>
                              <li class="">
                                <h5>
                                  <a href="/tin-tuc/<%=tinlienquan.new[i].titleseo%>"><%=tinlienquan.new[i].title%></a>
                                </h5>
                              </li>
                            <%}%>
                          </ul>
                      </div>
                  </div>
                </aside>
              </div>
            </div>
        </div>
    </div>

</section>
<script>

</script>
