<nav class="menu-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-menu-item">
            <li class="item">
              <a href="/" class="active" ><i class="fa fa-home"></i> Trang chủ</a>
            </li>
            <li class="item">
              <a href="/ghe-massage-ban-chay-nhat" class="active" ><img src="/massage-chair-icon-desk.png" alt="ghế massage bán chạy nhất" />Ghế massage</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                            <%for(var l=0;l<trademarks.count;l++){%>
                              <li><a href="/ghe-massage-<%=trademarks.trademark[l].name%>" target="_blank">Ghế massage <%=trademarks.trademark[l].name%></a></li>
                            <%}%>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Ghế Massage phổ thông</a></li>
                              <li><a href="" title="Ghế Massage Okia">Ghế Massage hạng trung</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Ghế Massage hạng sang</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Ghế massage bán chạy nhất<p>
                          <%for(var k=0;k<ghebestsellmenuhome.count;k++){ %>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>">
                                        <img src="/<%=ghebestsellmenuhome.ghemassages[k].imagedefault[0].originalname%>" alt="<%=ghebestsellmenuhome.ghemassages[k].name%> bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>"><%=ghebestsellmenuhome.ghemassages[k].name%></a></div>
                                        <div class="price-product-sell-best commas"><%=ghebestsellmenuhome.ghemassages[k].pricesale %> ₫ </div>
                                        <div class="buy-now">
                                          <a href="/ghe-massage/<%=ghebestsellmenuhome.ghemassages[k].nameseo%>">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                          <%}%>
                      </div>
                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/thanh-ly-ghe-massage-cu" class="active" >Thanh lý ghế massage cũ</a>

            </li>

            <li class="item relative">
              <a href="/dich-vu-sua-chua" class="active" ><i class="fa fa-cog"></i> Dịch vụ sửa chữa</a>
              <div class="item-detail service">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-right">
                        <ul>
                          <%for(var i=0;i<lastpostshome.count;i++){%>
                            <li>
                              <a href="/<%=lastpostshome.posts[i].titleseo%>" title=""><i class="fa fa-angle-right"></i> <%=lastpostshome.posts[i].title%></a>
                            </li>
                          <%}%>
                       </ul>
                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/tin-tuc" class="active" ><i class="fa fa-newspaper-o"></i> Tin tức</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section class="list-blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item service"><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item service-current" active aria-current="page"> <i class="fa fa-cog"></i> Dịch vụ sửa chữa</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12">
              <section class="content-bottom-second">
                <div class="pterodactyl-large"></div>
              </section>
            </div>
            <div class="col-xs-12">
                <div class="list-blog-item">
                  <%for(var i=0;i<5;i++){%>
                    <div class="blog-item hexagon">
                      <div class="hexagon-in1">
                      <div class="hexagon-in2" data-bgimg="/background-service.png" style="background-image:url('/background-service.png');">
                          <div class="bg-overlay"></div>
                          <div class="headshot">
                            <img src="/<%=poststonghop.post[i].image%>" alt="<%=poststonghop.post[i].image%>" >
                          </div>
                          <h4><%=poststonghop.post[i].title%></h4>

                          <p>
                            <%-poststonghop.post[i].shortdescription%>
                          </p>
                          <a href="/<%-poststonghop.post[i].titleseo%>" class="view-all"><i class="fa fa-angle-double-right"></i> Xem chi tiết</a>
                          <a href="/<%-poststonghop.post[i].titleseo%>" class="blog-link"></a>
                      </div>
                      </div>
                  </div>
                  <%}%>

                </div>

            </div>
        </div>
    </div>
</section>
