<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

        <li> <%=ghemassage.title%> </li>
        <li> <%=ghemassage.titleseo%> </li>
        <li> <%=ghemassage.shortdescription%> </li>
        <li> <%=ghemassage.description%> </li>
        <li><img src="/<%=ghemassage.image%>" >  </li>
        <li> <%=ghemassage.day%> </li>
        <li><%=ghemassage.ogtitle%></li>
        <li><%=ghemassage.ogdescription%></li>
        <li><%=ghemassage.keywords%></li>
        <li><%=ghemassage.hotnews%></li>
        <li><%=ghemassage.lastnews%></li>
        <li><%=ghemassage.slidenews%></li>
        <li><%=ghemassage.category%></li>
        <li><%=ghemassage.index%></li>
    </ul>
    <a href="/news/edit/<%=ghemassage._id%>"><button id="sua">Edit</button></a>

  </body>
</html>
